<div class="nav">
  <nav class="navbar navbar-expand-lg ">
    <img src="../assets/images/Kanini.svg">
      <li class="nav-item active">
        <a class="btn" (click)="AddEmployee()">AddEmployee</a>
      </li>
      <li class="nav-item">
        <a class="btn" (click)="GetAllEmployee()" >View AllEmployees</a>
      </li>
      <li class="nav-item">
        <a class="btn" (click)="request()" >Add Request</a>
      </li>
      <li class="nav-item">
        <a class="btn" (click)="status()" >online Request</a>
      </li>
      <li class="nav-item">
        <a class="btn" (click)="paststatus()" >Past Request</a>
      </li>
      <li class="nav-item">
        <a class="btn" (click)="GetAllonline()" >Employee online Request</a>
      </li>
      <li class="nav-item">
        <a class="btn" (click)="GetAllTravelEmployee()" >Employee Past Request</a>
      </li>
      <li class="nav-item">
        <a class="btn" (click)="Logout()">Logout</a>
      </li>
      <a class="btn" (click)="open()"  >{{name}}</a>
  </nav>
</div>