<div class="nav">
  <nav class="navbar navbar-expand-lg ">
    <img src="../assets/images/Kanini.svg">
          <li class="nav-item active">
            <a class="btn" (click)="Request()">Request</a>
          </li>
          <li class="nav-item">
            <a class="btn" (click)="status()">My Status</a>
          </li>
          <li class="nav-item">
            <a class="btn" (click)="paststatus()">My Past Status</a>
          </li>
          <li class="nav-item">
            <a class="btn" (click)="Logout()">Logout</a>
          </li>
  </nav>
          <a class="btn" (click)="open()"  >{{name}}</a>
</div>