<h1><span>Registered Employees</span></h1>
<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">TravelId</th>
        <th scope="col">EmployeeId</th>
        <th scope="col">Name</th>
        <th scope="col">Reason</th>
        <th scope="col">Location</th>
        <th scope="col"></th>
        <th scope="col">Birthday</th>
        <th scope="col">MId</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of views">
        <td>{{ e.employeeId}}</td>
        <td>{{ e.name}}</td>
        <td>{{ e.age}}</td>
        <td>{{ e.role}}</td>
        <td>{{ e.gender}}</td>
        <td>{{ e.birthday }}</td>
        <td>{{ e.managerId}}</td>
        <td>{{ e.mobile}}</td>
        <td>{{ e.email}}</td>
        <td>{{ e.address }}</td>
        <!-- <button class="btn btn-primary" (click)="Ok()" >Ok</button>
        <button class="btn btn-primary" (click)="Cancel()" >Cancel</button>
    --></tr> 
    </tbody>
</table>  