<div class="nav">
  <nav class="navbar navbar-expand-lg ">
    <img (click)="Home()" src="../assets/images/Kanini.svg">
        <li class="nav-item">
          <a class="btn" (click)="Request()">Add Request</a>
        </li>
        <li class="nav-item">
          <a class="btn" (click)="status()">My Status</a>
        </li>
        <li class="nav-item">
          <a class="btn" (click)="paststatus()">My Past Status</a>
        </li>
        <li class="nav-item">
         <a class="btn" (click)="Logout()">Logout</a>
        </li>
        <a class="btn" (click)="open()">{{name}}</a>
        </nav>
</div>


<h1><span>Travel Booking</span></h1>
<table class="table" id='tab'>
<thead>
<tr>
    <th scope="col">TravelId</th>
    <th scope="col">Id</th>
    <!-- <th scope="col">Name</th>
    <th scope="col">Reason</th>
    <th scope="col">Location</th>
    <th scope="col">Travel</th>
    <th scope="col">Numbers of Days</th>
    <th scope="col">From Date</th>
    <th scope="col">To Date</th> -->
    <th scope="col">Ticket</th>
    <th scope="col">Ticket Id</th>
    <th scope="col">Vechicle Type</th>
    <th scope="col">Ticket Time</th>
    <th scope="col">Travel Sport</th>
    <th scope="col">Hotal Name</th>
    <th scope="col">Hotal Room Id</th>
    <th scope="col">Cab Name</th>
    <th scope="col">Cab Time</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let e of request">
    <td>{{ e.travelId}}</td>
    <td>{{ e.employeeId}}</td>
    <!-- <td>{{ e.name}}</td>
    <td>{{ e.reason}}</td>
    <td>{{ e.loc}}</td>
    <td>{{ e.isLocal }}</td>
    <td>{{ e.nDays}}</td>
    <td>{{ e.fromDate}}</td>
    <td>{{ e.toDate}}</td> -->
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <td>{{ e.toDate}}</td>
    <button class="btn btn-primary" (click)="Ok(e)" >Approvel</button>
</tr>
</tbody>
</table>  